.wrapper {
	overflow: hidden;
}

.text-container_test {
	margin: 0 auto;
	position: relative;
	padding: 0 20px;
	max-width: 50%;
	float: left;
}

.twitter-feed {
	overflow: hidden;
}

.blog-posts {
	list-style: none;
	padding: 0;

	li {
		margin: 20px 0;
	}
}

.blog-posts > li.blog-post {
	background: $surface-color;
	border: 1px solid $border-color;
	border-radius: 18px;
	padding: 18px;
	box-shadow: $shadow-sm;

	@media #{$desktop} {
		padding: 22px;
	}
}

.blog-post {
	.author {
		padding: 18px;
		border: 1px solid $border-color;
		border-radius: 18px;
		background: $surface-muted;
		margin: 30px 0;
		font-size: .95em;

		.square-image {
			width: 180px;
			height: 180px;
			margin-top: 0;
		}

		.blurb {
			text-align: center;
		}
	}

	h3 {
		margin: 0;

		a {
			color: $text-color;
			text-decoration: none;
			font-weight: 750;
			font-size: 1.25rem;

			&:hover {
				color: $accent-color;
			}
		}
	}

	h2 {
		text-align: left;
	}

	.blog-navigation {
		font-size: 14px;
		display: block;
		width: auto;
		overflow: hidden;

		a {
			display: block;
			width: 50%;
			float: left;
			margin: 1em 0;
		}

		.next {
			text-align: right;
		}
	}

	.post-details {
		border-bottom: 1px solid $border-color;
		font-size: .9em;

		.blog-filter {
			display: inline-block;
			text-align: left;

			a {
				position: relative;
				top: -5px;
			}
		}

		a {
			text-decoration: none;
		}

		.post-date {
			float: right;
			color: $muted-text-color;
		}

		&:after {
			content: "";
			display: table;
			clear: both;
		}
	}

	.post-content {
		.button {
			margin: 30px 0 0 0;
		}
	}
}

.pagination {
	text-align: center;
}

.blog-filter {
	text-align: center;

	a {
		background: #eee;
		padding: 3px 5px;
		font-size: .8em;
		border-radius: 5px;
		color: #888;
		transition: .2s ease-in-out;

		&:hover {
			color: #555;
			text-decoration: none;
		}
	}
}

.blog-filter.cross a {
	padding-right: 8px;

	&:after {
		content: "x";
		font-size: .5em;
		position: relative;
		bottom: 4px;
		right: -3px;
	}
}
