.footer-links {
	width: 100%;
	margin: 10px;
	padding: 0;

	@media #{$tablet} {
		-webkit-flex: 1 0 180px;
		flex: 1 0 180px;
	}

	li {
		list-style: none;
		margin: 15px auto;

		@media #{$tablet} {
			max-width: 150px;
		}
		a {
			display: inline-flex;
			align-items: center;
			gap: 10px;

			&:hover {
				text-decoration: none;
			}
			svg {
				fill: rgba(255, 255, 255, 0.7);
				transition: fill 0.18s ease;
				vertical-align: middle;
				position: relative;
				top: -2px;
				width: 22px;
				height: 22px;
			}

			&:hover svg {
				fill: #fff;
			}

			&.twitter-icon:hover svg {
				fill: #55acee;
			}

			&.google-plus-icon:hover svg {
				fill: #db4437;
			}

			&.youtube-icon:hover svg {
				fill: #cd201f;
			}

			&.instagram-icon:hover svg {
				fill: #f167f5;
			}

			&.linkedin-icon:hover svg {
				fill: #0077b5;
			}

			&.github-icon:hover svg {
				fill: #fff;
			}

			&.pinterest-icon:hover svg {
				fill: #bd081c;
			}

			&.rss-icon:hover svg {
				fill: #f26522;
			}
		}
	}
}

footer {
	padding: 56px 0 48px 0;
	font-size: 1rem;
	position: relative;
	background: $brand-color;
	color: #fff;

	.copyright {
		font-size: .8em;
		margin: 20px auto 0 auto;
		text-align: center;
		
		@media #{$tablet} {
			text-align: center;
		}

	}
	
	&,
	a {
		color: rgba(255, 255, 255, 0.72);
	}

	h2 {
		font-size: 1.05rem;
		margin: 10px 0 12px 0;
		color: rgba(255, 255, 255, 0.9);
	}

	.footer-columns {
		@extend %flexbox;
		@include flex-flow(wrap);
		margin: -10px -10px 10px -10px;
	}

	a {
		text-decoration: none;

		&:hover {
			color: #fff;
		}
	}

	.legal-line {
		width: 100%;
		padding: 30px 0;
		margin: 0;
		background-color: #222527;

		a {
			font-weight: 600;
		}
	}
}
