.team_members {
	padding: 0;
	list-style: none;
	@extend %flexbox;
	@include flex-flow(wrap);

	.profile_picture {
		width: 25%;

		img {
			border-radius: 250px;
		}

		margin: auto;
		display: block;
	}

	.personal_description {
		font-size: 1rem;
		margin-top: 20px;
		color: $muted-text-color;
		text-align: left;
	}

	.publications {
		font-size: 1rem;
		margin-top: 20px;
		color: $muted-text-color;
		text-align: left;
	}

	.socials {
		font-size: 1rem;
		text-align: left;
	}

}
